<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <video id="video_container" src="" controls autoplay></video>

    <div class="list_container">
        <ul class="list_videos">
            <% files.forEach((file) => { %>
               <li class="single_video_card text-wrap font-weight-bold">
                    <div class="card d-flex p-2 flex-row">
                        <img src="/thumbnails/<%= file[4] %>" alt="" width="200" height="112.5">
                        <p onclick="playVideo('<%= file[0] %>')"><%= file[0] %></p>
                    </div> 
                </li>
            <% }); %> 
        </ul>
    </div>
    


    <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
<script>
    const player = document.getElementById('video_container');
    player.width = innerWidth * 0.65;
    player.height = (player.width) * (9/16);

</script>
<script src="/js/app.js"></script>
</html>